<footer>
<div class="contact-container contact">
	<a name="contact"></a>
	<h3 class="contact-title">Contact</h3>
      <div>
        <p class="email">k-omahony@hotmail.com</p>
				<p> 087-1941955</p>
        <div class="social-media">
          <div class="icons">
						<a href="https://www.instagram.com/omahonys_bar_" target="-blank">
            <i class="fa fa-brands fa fa-instagram fa-3x"></i></a>
          </div>
          <div class="icons">
						<a href="https://www.facebook.com/omahonysbarber" target="_blank">
            <i class="fa fa-brands fa fa-facebook-square fa-3x"></i></a>
          </div>
        </div>
        <p>&copy;thebarberatomahonys2022</p>
      </div>
    </div>
 </footer>
