<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#about">About</a>
		<a class="navbar-brand" href="/booking">Book an Appointment</a>
		<a class="navbar-brand" href="#contact">Contact</a>
  </div>
</nav>
