<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
		<meta name="description" content="Best barber in Cavan, Monaghan area, great prices, book online.">
    <title>thebarbers</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="icon" href="/images/favicon.ico">
		<script
      src="https://kit.fontawesome.com/21af180ecc.js"
      crossorigin="anonymous"
    ></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
