<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col mt-5">
					<div class="card authentication" style="width: 25rem;">
						<div class="card-body">
							<form action="/auth/login" method= "post">
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label"
										>Email address</label
									>
									<input required
										type="email"
										name="email"
										class="form-control mb-3"
										id="exampleFormControlInput1"
									/>
									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label"
											>Password</label
										>
										<input required
											type="password"
											name="password"
											class="form-control"
											id="exampleFormControlInput1"
										/>
									</div>
								</div>
								<button class="btn btn-outline-secondary mb-3 login">Login
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
